.container{
    display: grid;
    width: 100%;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: repeat(16, 100px);
}

.Header{
    grid-area: 1 / 1 / 2 / 6;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(166, 214, 83);
}

.Htext{
    text-align: center;
}

h1{
    margin: 0.3em 0.3em 0 0.3em;
    font-size: 2em;
    font-family: Georgia;
}

h5{
    margin: 0.1em 0.3em 0.3em 0.8em;
}

.Options{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 2em;
    align-items: center;
    justify-items: center;
    font-weight: 600;
    border-top: 0.09em solid blue;
}

.BRight{
    margin: 0em;
    box-sizing: border-box;
    width: 12.90em;
    text-align: center;
    border-right: 0.05em solid blue;
}