.container{
    display: grid;
    width: 100%;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: repeat(16, 6em);
}

.Header{
    grid-area: 1 / 1 / 2 / 6;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(166, 214, 83);
    border: 0.05em solid blue;
}

.Htext{
    text-align: center;
}

h1{
    margin: 0.3em 0.3em 0 0.3em;
    font-size: 2em;
    font-family: Georgia;
}

h5{
    margin: 0.1em 0.3em 0.3em 0.8em;
}

.Options{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 2em;
    align-items: center;
    justify-items: center;
    font-weight: 600;
    border-top: 0.09em solid blue;
}

.Information{
    display: grid;
    grid-template: 30em / 60%;
    grid-area: 2 / 1 / 7 / 6;
    background-image: url(https://image.freepik.com/foto-gratis/equipo-estudiantes-que-completan-tarea_23-2147666610.jpg);
    background-size: cover;
    align-items: center;
    justify-items: center;
}

.InfBox{
    display: grid;
    grid-template: 80% 20% / 100%;
    box-sizing: border-box;
    border-radius: 1em;
    width: 90%;
    height: 90%;
    background-color: rgba(128, 128,128, 0.6);
    align-items: center;
    justify-items: center;
}

.InfBox p{
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
    margin: 1%;
    color: white;
  
}

.Information .InfBox a{
    grid-area: 2 / 1 / 3 / 2;
    color: white;
    font-size: 1.5em;
    box-sizing: border-box;
    padding: 10px 5px;
    font-weight: 600;
    border: 0.1em solid white;

}




