

body{
    background-color: aqua;
}

h1{
    font-weight: 50;
}

.container{
    display: grid;
    grid-template-columns: repeat(20, 200px);
    grid-template-rows: repeat(28,300px);
}

.Header{
    grid-area: 1 / 1 / 6 / 21;
}

.Options{

}

.Information{


}